@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;800&display=swap');
@import '_variables.scss';

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    background: $backgroud-gradient;
    text-align: center;
    box-sizing: border-box;
}
