.home {
    display: flex;
    margin-top: 150px;
    flex-wrap: nowrap;
    align-items: center;

    &__option {
        display: flex;
        flex-direction: column;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        align-items: center;
        .text {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 300;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
        .icon {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border-color: transparent;
            border: 25px solid;
            background-size: 50%;
            transition: transform 0.2s;
            &--player {
                @include icon($imagePlayer, $player-gradient);
            }
            &--computer {
                @include icon($imageComputer, $computer-gradient);
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media only screen and (max-width: 610px) {
    .home {
        margin-top: 0px;
        &__option {
            margin-right: .5rem;
            margin-left: .5rem;
            .text {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 300;
                margin-top: 1.5rem;
                margin-bottom: .5rem;
            }
            .icon {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                border-color: transparent;
                border: 10px solid;
                background-size: 50%;
                &--player {
                    @include icon($imagePlayer, $player-gradient);
                }
                &--computer {
                    @include icon($imageComputer, $computer-gradient);
                }
            }
        }
    }
}
